@import 'node_modules/react-modal-video/scss/modal-video.scss';

button {
  background-color: #5b92f9;
  outline: none;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}
