.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(139, 141, 157, 0.05),
    0 5px 10px 0 rgba(65, 71, 108, 0.15);
  padding: 11px;
  z-index: 999;
  &__innerWrapper {
    max-width: 1200px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__ButtonInnerWrapper {
    display: flex;
    align-items: center;
    svg {
      font-size: 29px;
    }
  }
  @media (max-width: 748px) {
    &__ButtonInnerWrapper button {
      display: none;
    }
  }
  @media (min-width: 748px) {
    &__ButtonInnerWrapper svg {
      display: none;
    }
  }
}
