@import 'node_modules/react-modal-video/scss/modal-video.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

button {
  background-color: #5b92f9;
  outline: none;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.main {
  &__contentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__contentInnerWrapper {
    width: 100%;
    max-width: 1200px;
  }
}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  grid-gap: 20px;
  justify-content: center;
  padding-top: 10px;
  min-height: 60vh;
  a {
    text-decoration: none;
  }
}
.mainbutton {
  background-color: #5b92f9;
  outline: none;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 23px;
  cursor: pointer;
  font-weight: 600;
  max-height: 40px;
  margin: 5px;
}
.mainbutton a {
  text-decoration: none;
  color: white;
}
.unfilled {
  background-color: transparent;
  border: 2px solid #5b92f9;
  color: #5b92f9;
}
.unfilled a {
  color: #5b92f9;
}
.mainGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  grid-gap: 20px;
  justify-content: center;
  padding-top: 80px;
  min-height: 60vh;
  a {
    text-decoration: none;
  }
}
@media (max-width: 748px) {
  .mainGridWrapper {
    padding-top: 30px;
  }
}
.stepsSubTitle {
  font-size: 22px;
  text-align: center;
}

.mainTitle {
  padding: 20px 20px 0px 20px;
  text-align: center;
  color: #3e3e3e;
  span {
    color: #5b92f9;
  }
}
.mainSubTitle {
  text-align: center;
  color: #3e3e3e;
}
@media (min-width: 748px) {
  .rwd-break {
    display: none;
  }
}
.post {
  max-width: 900px;
  margin: 0 auto;
  .wp-block-embed-youtube {
    display: flex;
    justify-content: center;
  }
  &__title {
    text-align: center;
  }
  @media (max-width: 748px) {
    .wp-block-embed-youtube {
      width: 100%;
      margin: 0px;
    }
    &__title {
      font-size: 24px;
    }
    .wp-block-embed-youtube iframe {
      width: 100%;
      height: 200px;
      margin: 0px;
    }
  }
}

@media (max-width: 748px) {
  .post {
    padding: 0px 30px;
  }
}
