*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}
.yt_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 748px) {
  .yt_wrapper div iframe {
    width: 100%;
    padding: 10px;
  }
}
button {
  transform: scale(1);
  transition: 0.3s;
  background-color: #5b92f9;
  outline: none;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  font-weight: 600;
  max-height: 40px;
  margin: 5px;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.06);
}

.main {
  &__contentWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__contentInnerWrapper {
    width: 100%;
    max-width: 1200px;
  }
}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  grid-gap: 20px;
  justify-content: center;
  padding-top: 10px;
  min-height: 60vh;
  a {
    text-decoration: none;
  }
}

.logoWrapper {
  padding-top: 10px;
  max-width: 1200px;
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
}
.TopTwoColumns {
  display: flex;
  min-height: 40vh;
  width: 100%;
  justify-content: center;
  svg {
    width: 100%;
  }
  .rightColumn {
    padding: 60px 0px;
    ul {
      list-style-type: none;
      svg {
        width: auto;
        background-color: #5b92f9;
        font-size: 40px;
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-size: 100% auto;
      }
    }
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0px;
      p {
        font-weight: 500;
        padding: 0px 10px;
      }
      a {
        font-weight: 500;
        padding: 0px 10px;
        text-decoration: none;
        color: black;
      }
    }
  }
}
@media (max-width: 748px) {
  .TopTwoColumns {
    flex-direction: column;
    height: auto;
  }
  .svgWrapper {
    width: 100% !important;
  }
  .rightColumn {
    padding: 0px !important;
    display: flex;
    justify-content: center;
    ul {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }
    p {
      font-size: 13px;
      overflow-wrap: break-word;
    }
  }
}
.mainbutton {
  background-color: #5b92f9;
  outline: none;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 23px;
  cursor: pointer;
  font-weight: 600;
  max-height: 40px;
  margin: 5px;
  transition: 0.3s;
  text-decoration: none;
  font-size: 14px;
}
.mainbutton a {
  text-decoration: none;
  color: white;
}
.unfilled {
  background-color: transparent;
  border: 2px solid #5b92f9;
  color: #5b92f9;
}
.unfilled:hover {
  background-color: #5b92f9;
  color: white;
}
.unfilled a {
  color: #5b92f9;
}
.unfilled:hover a {
  color: white;
}
.mainGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  grid-gap: 20px;
  justify-content: center;
  padding-top: 80px;
  min-height: 60vh;
  a {
    text-decoration: none;
  }
}
@media (max-width: 748px) {
  .mainGridWrapper {
    padding-top: 30px;
  }
}
.stepsSubTitle {
  font-size: 26px;
  text-align: center;
}
.mainHelper {
  text-align: center;
}

.mainTitle {
  padding: 20px 20px 0px 20px;
  text-align: center;
  color: #3e3e3e;
  span {
    color: #5b92f9;
  }
}
.mainSubTitle {
  text-align: center;
  font-size: 24px;
  color: #3e3e3e;
}
@media (max-width: 748px) {
  .mainSubTitle {
    padding: 20px;
  }
}
@media (min-width: 748px) {
  .rwd-break {
    display: none;
  }
}
.post {
  blockquote.wp-block-quote {
    border-left: 5px solid #5b92f9;
    padding-left: 20px;
    font-size: 20px;
    color: #636363;
    text-align: left;
    p {
      text-align: left;
    }
  }
  max-width: 700px;
  margin: 0 auto;
  &__featuredImage {
    display: flex;
    justify-content: center;
  }
  div p {
    line-height: 32px;
    margin: 0.85em 0;
  }
  strong {
    color: #3e3e3e;
    font-weight: 600;
  }
  h2 {
    color: #3e3e3e;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: #5b92f9;
  }
  h3 {
    color: #3e3e3e;
    font-weight: 500;
  }
  .wp-block-embed-youtube {
    display: flex;
    justify-content: center;
  }
  figure {
    margin: 0px;
  }
  .wp-block-image {
    margin: 0px;
    max-width: 700px;
  }
  .wp-block-image img {
    max-width: 700px;
    height: auto;
    width: auto;
  }
  iframe {
    width: 700px;
  }
  &__title {
    text-align: center;
    font-weight: 500;
  }
  .postCTA {
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    h3 {
      padding: 20px;
      text-align: left;
    }
    button {
      width: 60%;
    }
    background-color: aliceblue;
    .mainbutton a {
      color: white;
    }
  }
  @media (max-width: 748px) {
    .wp-block-embed-youtube {
      width: 100%;
      margin: 0px;
    }
    .wp-block-quote {
      padding: 10px;
      margin: 2px;
    }
    &__title {
      font-size: 24px;
    }
    .wp-block-embed-youtube iframe {
      width: 100%;
      height: 200px;
      margin: 0px;
    }
    .wp-block-image img {
      margin-left: -30px;
    }
  }
}

@media (max-width: 748px) {
  .post {
    padding: 0px 30px;
  }
  .postCTA {
    flex-direction: column;
  }
}
nav.breadcrumb {
  color: #3e3e3e;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}
nav .breadcrumb__list {
  padding: 20px;
}
.breadcrumb a {
  color: #3e3e3e;
}
.backButton {
  svg {
    padding-top: 3px;
  }
  margin-top: 20px;
}

.Wrapper404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  &__buttonWrapper {
    display: flex;
    justify-content: center;
  }
}

.noMinHeight {
  min-height: auto;
  margin: 50px 0px;
}
.svgWrapper {
  width: 40%;
  cursor: pointer;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
@media (max-width: 748px) {
  .buttonWrapper {
    flex-direction: column;
    align-items: center;
  }
}
.fixedWidth {
  margin: 0 auto;
  max-width: 1200px;
}
.featuresWrapper {
  padding: 5px 40px 40px 40px;
  background-color: #f7f7f7;
  width: 99.5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.testimonialWrapper {
  margin: 20px 0px;
  max-width: 100%;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .slick-slider {
    width: 800px;
    max-width: 100%;
    padding: 20px;
  }
  .slick-dots {
    display: flex !important;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
    button {
      margin: 0px 20px;
      color: black;
      font-weight: bold;
      background-color: transparent;
    }
  }
}

.menuLink {
  transition: 0.3s;
  font-weight: 500;
  margin: 2px;
  text-decoration: none;
  padding: 0px 8px;
  font-size: 14px;
  color: #3e3e3e;
  &:hover {
    color: #5b92f9;
  }
}
@media (max-width: 900px) {
  .menuLink {
    padding: 14px 8px;
    font-size: 16px;
  }
}

.menuLinkActive {
  color: #5b92f9;
  font-weight: 600;
}

svg#freepik_stories-press-play:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eljuiu6ppvm7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-press-play.animated #el8bk4ak0cnew {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.02127659574468085s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eljws3l27hdwm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.0425531914893617s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el2w606ulkiam {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.06382978723404255s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el17jxdkuppas {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.0851063829787234s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ely8yvgag3baq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.10638297872340426s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eliuz8domea4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1276595744680851s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elaaosw6leeua {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.14893617021276595s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elf2av85cbhch {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1702127659574468s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elu6dol0kiih9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.19148936170212766s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el3w9b5e7lkni {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2127659574468085s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elnr34s8p9gk {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.23404255319148937s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eliud7txaksp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2553191489361702s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elpbo74x4o0kg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2765957446808511s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el68xw85ivnfb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2978723404255319s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ellvxucv8a5k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3191489361702128s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elb3h6bkv6s8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3404255319148936s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elkmpfah6k3i {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.36170212765957444s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elxxy8zv2ru9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3829787234042553s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ela44ka67sf2r {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.40425531914893614s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elg1lygnd5y98 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.425531914893617s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elv3zhaodncpn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.44680851063829785s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ellavbllalut8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.46808510638297873s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el3om53ylzn1 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.48936170212765956s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el7ispz5whxk5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5106382978723404s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el0y3f9qnx5c4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5319148936170213s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eluq6q6a6ewz {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5531914893617021s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el2mu39fnzujt {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5744680851063829s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elswj64ohplca {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5957446808510638s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el869cb14gaxf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6170212765957447s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elgpnzdg9zttd {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6382978723404256s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el9hsc0fggka {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6595744680851063s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elktn7i3rz73l {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6808510638297872s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eltsg389eqbi7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7021276595744681s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ely36exya941 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7234042553191489s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elks9mwj07n6o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7446808510638298s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elba0vxppeeud {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7659574468085106s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el5yrwbpc5tqk {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7872340425531915s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el7ys2uhedfga {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8085106382978723s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eluog25np4yqg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8297872340425532s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #elrbaexdyqn8o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.851063829787234s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el48o8rsgpfbi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8723404255319148s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eldrjaabz2jin {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8936170212765957s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el7zfxf24dfi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9148936170212766s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #ell5cs20q14z {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9361702127659575s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #eljyd9hj9o6r {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9574468085106382s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated #el052bf8s708f9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9787234042553191s;
  opacity: 0;
}
svg#freepik_stories-press-play.animated
  #freepik--background-complete--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-press-play.animated #freepik--Player--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-press-play.animated #freepik--Character--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
